<article>
  <li>
  <header>
    <%= link_to story.title, story %>
  </header>
<<<<<<< HEAD
  
  <p>Upvotes: <%= story.upvotes %> | 
=======
  <p>Upvotes: <%= story.upvotes %> |
>>>>>>> d8788ac1a603fa4ed18d5b3fd46899d09fd4c515
  Category: <%= story.category %> |
  <%= link_to "Details", story %></p>
  </li>
</article>
